.row .recommended .thumbnails {
  margin:35px 0 0;
  padding-left:36px;
  li {
    position:relative;
    width:100%;
    margin:0 0 10px;
    padding-bottom:15px;
    border-bottom:1px dashed #d9d9d9;
    word-wrap:break-word;
    list-style-type:none;
  }
}
.row .recommended .avatar {
  display:inline-block;
  width:32px;
  height:32px;
}
.row .recommended .user-subscriptions {
  margin-top:75px;
}
.row .recommended .ranking {
  padding-left:90px;
}
.row .recommended .guide-title {
  margin-top:76px;
}
.row .recommended .article .title {
  padding-right:40px;
  display:inherit;
  color:#3b3b3b;
  font-size:24px;
  font-weight:bold;
  line-height:36px;
}
.row .recommended .article .avatar {
  position:absolute;
  top:1px;
  right:1px;
}
.row .recommended .article br {
  display:none;
}
.row .recommended .article .content {
  color:#717171;
  font-size:14px;
  font-weight:100;
  line-height:24px;
}
.row .recommended .article .article-info {
  margin-top:5px;
  > a {
    margin-right:10px;
  }
  .up-to-date {
    padding-bottom:2px;
    border-bottom:1px dashed #d9d9d9;
  }
}
.output .article-info a.bookmark,.output .article-info a.bookmarked {
    vertical-align: middle;
}
.output .article-info a,.output .article-info span,.output .article-info .date {
    margin-right: 10px;
    color: #999999;
}