<style type="text/css">
_media (max-width: 480px) {
  body {
    font-size: 15px !important;
  }
  .main {
    margin: 0 10px !important;
  }
  .content {
    padding: 0px 0px 60px !important;
  }
  .content h2 {
    text-align: left !important;
  }
  .content h4 {
    text-align: left !important;
  }
}
</style>
<div class="container" style="padding-top:20px;margin:0 auto;">
  <div class="main" style="padding: 20px;background-color:#ffffff;border:1px solid #dddddd;border-bottom:1px solid #bbbbbb;">
    <div class="header" style="width:90px;margin:0 auto 15px;">
      <img style="max-width:100%" src="http://static.jianshu.io/assets/logo-ff4fab220af3b05aefc6456945dd262d.png" alt="Logo">
    </div>
    <div class="content" style="border-top:1px solid #d9d9d9;padding: 0 50px 60px;">
      <p><%= user.username %>, 您好,</p>
      <p>
        您可以通过下面的链接设置您的密码
      </p>
      <p>
        <a href="<%= url %>?access_token=<%= accessToken.id %>">
              设置密码
</a> </p>
      如果您未发起这次设置密码, 请忽略这封邮件。 如果您不点击上面的链接, 并且设置密码的话, 您不会开启密码登录。
    </div>
    <div class="footer" style="font-size:12px;text-align:center">
      <p>
        © 2012-2015 简书
        <a style="color:#888;margin:auto 15px" href="http://www.jianshu.com/">首页</a>
        <a style="color:#888;margin-right:15px" href="mailto:contact@jianshu.io">电子邮件</a>
        <a style="color:#888;margin-right:15px" href="http://www.jianshu.com/notebooks/561/latest">博客</a>
        <a style="color:#888;margin-right:20px" href="http://weibo.com/jianshuio">微博</a>
        <a style="color:#888" href="http://site.douban.com/181032/">豆瓣小站</a>
      </p>
    </div>
  </div>
</div>
