/* Component LESS */
/* Add Component LESS Above */
/* Containter */
.container .article,.preview-mode .preview,.kalamu-area,.kalamu-area:focus,.history-view .view-area {
    bottom: 0;
    padding: 30px;
    padding-bottom: 0;
    font-size: 17px;
    font-weight: 100;
    line-height: 30px;
    color: #2f2f2f
}

.container .article .title,.preview-mode .preview .title,.kalamu-area .title,.kalamu-area:focus .title,.history-view .view-area .title {
    margin-left: -8px;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px
}

.container .article p,.preview-mode .preview p,.kalamu-area p,.kalamu-area:focus p,.history-view .view-area p {
    margin: 0 0 25px 0
}

.container .article blockquote p:last-child,.preview-mode .preview blockquote p:last-child,.kalamu-area blockquote p:last-child,.kalamu-area:focus blockquote p:last-child,.history-view .view-area blockquote p:last-child {
    margin: 0
}

.container .article li p,.preview-mode .preview li p,.kalamu-area li p,.kalamu-area:focus li p,.history-view .view-area li p {
    overflow: visible
}

.container .article a,.preview-mode .preview a,.kalamu-area a,.kalamu-area:focus a,.history-view .view-area a {
    color: #4094c7
}

.container .article a:hover,.preview-mode .preview a:hover,.kalamu-area a:hover,.kalamu-area:focus a:hover,.history-view .view-area a:hover {
    color: #4bb2e0
}

.container .article a.active,.container .article a:active,.container .article a:focus,.preview-mode .preview a.active,.preview-mode .preview a:active,.preview-mode .preview a:focus,.kalamu-area a.active,.kalamu-area a:active,.kalamu-area a:focus,.kalamu-area:focus a.active,.kalamu-area:focus a:active,.kalamu-area:focus a:focus,.history-view .view-area a.active,.history-view .view-area a:active,.history-view .view-area a:focus {
    color: #075b8d
}

.container .article a.disabled,.container .article a.disabled:hover,.container .article a.disabled:focus,.container .article a.disabled:active,.container .article a.disabled.active,.container .article a[disabled],.container .article a[disabled]:hover,.container .article a[disabled]:focus,.container .article a[disabled]:active,.container .article a[disabled].active,.preview-mode .preview a.disabled,.preview-mode .preview a.disabled:hover,.preview-mode .preview a.disabled:focus,.preview-mode .preview a.disabled:active,.preview-mode .preview a.disabled.active,.preview-mode .preview a[disabled],.preview-mode .preview a[disabled]:hover,.preview-mode .preview a[disabled]:focus,.preview-mode .preview a[disabled]:active,.preview-mode .preview a[disabled].active,.kalamu-area a.disabled,.kalamu-area a.disabled:hover,.kalamu-area a.disabled:focus,.kalamu-area a.disabled:active,.kalamu-area a.disabled.active,.kalamu-area a[disabled],.kalamu-area a[disabled]:hover,.kalamu-area a[disabled]:focus,.kalamu-area a[disabled]:active,.kalamu-area a[disabled].active,.kalamu-area:focus a.disabled,.kalamu-area:focus a.disabled:hover,.kalamu-area:focus a.disabled:focus,.kalamu-area:focus a.disabled:active,.kalamu-area:focus a.disabled.active,.kalamu-area:focus a[disabled],.kalamu-area:focus a[disabled]:hover,.kalamu-area:focus a[disabled]:focus,.kalamu-area:focus a[disabled]:active,.kalamu-area:focus a[disabled].active,.history-view .view-area a.disabled,.history-view .view-area a.disabled:hover,.history-view .view-area a.disabled:focus,.history-view .view-area a.disabled:active,.history-view .view-area a.disabled.active,.history-view .view-area a[disabled],.history-view .view-area a[disabled]:hover,.history-view .view-area a[disabled]:focus,.history-view .view-area a[disabled]:active,.history-view .view-area a[disabled].active {
    cursor: not-allowed;
    color: #999999
}

.container .article p,.container .article ul,.container .article ol,.preview-mode .preview p,.preview-mode .preview ul,.preview-mode .preview ol,.kalamu-area p,.kalamu-area ul,.kalamu-area ol,.kalamu-area:focus p,.kalamu-area:focus ul,.kalamu-area:focus ol,.history-view .view-area p,.history-view .view-area ul,.history-view .view-area ol {
    text-align: justify;
    text-justify: inter-ideograph
}

.container .article h1,.container .article h2,.container .article h3,.container .article h4,.container .article h5,.container .article h6,.preview-mode .preview h1,.preview-mode .preview h2,.preview-mode .preview h3,.preview-mode .preview h4,.preview-mode .preview h5,.preview-mode .preview h6,.kalamu-area h1,.kalamu-area h2,.kalamu-area h3,.kalamu-area h4,.kalamu-area h5,.kalamu-area h6,.kalamu-area:focus h1,.kalamu-area:focus h2,.kalamu-area:focus h3,.kalamu-area:focus h4,.kalamu-area:focus h5,.kalamu-area:focus h6,.history-view .view-area h1,.history-view .view-area h2,.history-view .view-area h3,.history-view .view-area h4,.history-view .view-area h5,.history-view .view-area h6 {
    margin: 0;
    color: inherit;
    text-rendering: optimizelegibility
}

.container .article h1,.preview-mode .preview h1,.kalamu-area h1,.kalamu-area:focus h1,.history-view .view-area h1 {
    font-size: 31px;
    font-weight: bold;
    line-height: 45px
}

.container .article h2,.preview-mode .preview h2,.kalamu-area h2,.kalamu-area:focus h2,.history-view .view-area h2 {
    font-size: 27px;
    font-weight: bold;
    line-height: 42px
}

.container .article h3,.preview-mode .preview h3,.kalamu-area h3,.kalamu-area:focus h3,.history-view .view-area h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px
}

.container .article h1,.container .article h2,.container .article h3,.container .article h4,.preview-mode .preview h1,.preview-mode .preview h2,.preview-mode .preview h3,.preview-mode .preview h4,.kalamu-area h1,.kalamu-area h2,.kalamu-area h3,.kalamu-area h4,.kalamu-area:focus h1,.kalamu-area:focus h2,.kalamu-area:focus h3,.kalamu-area:focus h4,.history-view .view-area h1,.history-view .view-area h2,.history-view .view-area h3,.history-view .view-area h4 {
    margin-bottom: 7px
}

.container .article h4,.preview-mode .preview h4,.kalamu-area h4,.kalamu-area:focus h4,.history-view .view-area h4 {
    font-size: 22px;
    font-weight: bold;
    line-height: 33px
}

.container .article h5,.preview-mode .preview h5,.kalamu-area h5,.kalamu-area:focus h5,.history-view .view-area h5 {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px
}

.container .article h6,.preview-mode .preview h6,.kalamu-area h6,.kalamu-area:focus h6,.history-view .view-area h6 {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px
}

.container .article img,.preview-mode .preview img,.kalamu-area img,.kalamu-area:focus img,.history-view .view-area img {
    border: 1px solid #d9d9d9
}

.container .article hr,.preview-mode .preview hr,.kalamu-area hr,.kalamu-area:focus hr,.history-view .view-area hr {
    margin: 0 0 25px;
    border-top: 1px solid #d9d9d9
}

.container .article blockquote,.preview-mode .preview blockquote,.kalamu-area blockquote,.kalamu-area:focus blockquote,.history-view .view-area blockquote {
    position: relative;
    margin-bottom: 25px;
    padding: 20px;
    font-size: 17px;
    font-weight: 100;
    line-height: 30px;
    word-break: break-word;
    border-left: 4px solid #999999;
    background-color: #f6f6f6
}

.container .article blockquote p,.preview-mode .preview blockquote p,.kalamu-area blockquote p,.kalamu-area:focus blockquote p,.history-view .view-area blockquote p {
    font-size: 17px;
    font-weight: 100;
    line-height: 30px
}

.container .article ol,.container .article ul,.preview-mode .preview ol,.preview-mode .preview ul,.kalamu-area ol,.kalamu-area ul,.kalamu-area:focus ol,.kalamu-area:focus ul,.history-view .view-area ol,.history-view .view-area ul {
    margin-bottom: 25px
}

.container .article ol li,.container .article ul li,.preview-mode .preview ol li,.preview-mode .preview ul li,.kalamu-area ol li,.kalamu-area ul li,.kalamu-area:focus ol li,.kalamu-area:focus ul li,.history-view .view-area ol li,.history-view .view-area ul li {
    line-height: 30px
}

.container .article ol li ol,.container .article ol li ul,.container .article ul li ol,.container .article ul li ul,.preview-mode .preview ol li ol,.preview-mode .preview ol li ul,.preview-mode .preview ul li ol,.preview-mode .preview ul li ul,.kalamu-area ol li ol,.kalamu-area ol li ul,.kalamu-area ul li ol,.kalamu-area ul li ul,.kalamu-area:focus ol li ol,.kalamu-area:focus ol li ul,.kalamu-area:focus ul li ol,.kalamu-area:focus ul li ul,.history-view .view-area ol li ol,.history-view .view-area ol li ul,.history-view .view-area ul li ol,.history-view .view-area ul li ul {
    margin-top: 15px
}

.container .article pre,.preview-mode .preview pre,.kalamu-area pre,.kalamu-area:focus pre,.history-view .view-area pre {
    word-wrap: normal;
    word-break: normal;
    overflow: auto;
    margin-bottom: 25px
}

.container .article pre code,.preview-mode .preview pre code,.kalamu-area pre code,.kalamu-area:focus pre code,.history-view .view-area pre code {
    background-color: transparent;
    padding: 0
}

.container .article code,.preview-mode .preview code,.kalamu-area code,.kalamu-area:focus code,.history-view .view-area code {
    padding: 2px 4px;
    color: #e05b44;
    background-color: #fae5e2;
    border: none;
    white-space: pre
}

.container .article table,.preview-mode .preview table,.kalamu-area table,.kalamu-area:focus table,.history-view .view-area table {
    width: 100%;
    margin-bottom: 25px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    border-left: none
}

.container .article table thead th,.preview-mode .preview table thead th,.kalamu-area table thead th,.kalamu-area:focus table thead th,.history-view .view-area table thead th {
    vertical-align: bottom
}

.container .article table th,.container .article table td,.preview-mode .preview table th,.preview-mode .preview table td,.kalamu-area table th,.kalamu-area table td,.kalamu-area:focus table th,.kalamu-area:focus table td,.history-view .view-area table th,.history-view .view-area table td {
    padding: 8px;
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    line-height: 20px;
    vertical-align: top
}

.container .article table th,.preview-mode .preview table th,.kalamu-area table th,.kalamu-area:focus table th,.history-view .view-area table th {
    font-weight: bold
}

.image-package {
    margin: 0 auto 25px;
    line-height: 1;
    text-align: center
}

.image-package .image-caption {
    display: inline-block;
    min-width: 20%;
    min-height: 20px;
    border-bottom: 1px solid #d9d9d9;
    margin: 0 auto;
    padding: 10px;
    font-size: 14px;
    color: #999999;
    font-style: italic;
    line-height: 150%
}

.output .image-caption:empty {
    display: none
}

@media (max-width: 480px) {
    .post .container .article .title {
        font-size:32px !important
    }
    
    .post .show-content h1 {
        font-size: 31px
    }
    
    .post .show-content h2 {
        font-size: 28px
    }
    
    .post .show-content h3 {
        font-size: 26px
    }
    
    .post .image-package {
        width: 100%;
        height: auto
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .post .show-content h1 {
        font-size:37px
    }
    
    .post .show-content h2 {
        font-size: 33px
    }
    
    .post .show-content h3 {
        font-size: 29px
    }
}

@media (max-width: 768px) {
    .container .article p,.container .article ul,.container .article ol {
        text-align:left;
        word-wrap: break-word;
        -ms-word-wrap: break-word
    }
}

/* Post */
.post.output {
    background: #3f3f3f
}

.post-bg {
    position: relative;
    background-color: white;
    -webkit-box-shadow: 0 2px 4px #222222;
    -moz-box-shadow: 0 2px 4px #222222;
    box-shadow: 0 2px 4px #222222;
    z-index: 9
}

.post-bg .container {
    width: 700px;
    position: relative
}

.bookmarked i.icon-bookmark {
    color: #e78170
}

.post .navbar-user {
    display: none
}

.wrap-btn {
    position: fixed;
    top: 10px;
    right: 0;
    width: 100%;
    z-index: 999
}

.wrap-btn .editor-article {
    top: 10px;
    float: right;
    margin-right: 6px
}

.wrap-btn .editor-article a,.wrap-btn .editor-article a:hover,.wrap-btn .editor-article a:focus {
    padding: 2px 5px;
    margin: 0 5px !important;
    background: none;
    border: none;
    outline: none;
    color: #555555
}

.wrap-btn .editor-article i {
    display: inline-block;
    width: 14px;
    text-align: center
}

.wrap-btn .editor-article .nighttime,.wrap-btn .editor-article .daytime,.wrap-btn .editor-article .bookmark,.wrap-btn .editor-article .bookmarked {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle
}

.wrap-btn .editor-article .nighttime,.wrap-btn .editor-article .daytime {
    display: none
}

.wrap-btn .login {
    position: relative;
    top: 12px;
    float: right;
    margin-right: 8px;
    padding: 0 2px
}

.wrap-btn .user.avatar {
    position: relative;
    float: right;
    margin-right: 10px;
    display: inline-block;
    width: 42px;
    height: 42px;
    padding-right: 10px;
    border: none
}

.wrap-btn .user.avatar b.caret {
    position: absolute;
    right: 0;
    top: 20px
}

.wrap-btn>.dropdown-menu {
    left: auto;
    right: 0;
    top: 50px
}

.wrap-btn>.dropdown-menu:before,.wrap-btn>.dropdown-menu:after {
    top: -9px;
    left: 111px
}

.wrap-btn>.dropdown-menu:after {
    top: -7px
}

.wrap-btn .dropdown-submenu .dropdown-menu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: -1px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px
}

.wrap-btn .dropdown-menu i {
    display: inline-block;
    width: 18px;
    height: 15px;
    text-align: center
}

.post .people {
    position: absolute;
    right: 700px;
    top: 80px;
    width: 160px;
    padding: 0 20px 20px 0;
    text-align: right
}

.post .people .avatar {
    width: 60px;
    height: 60px;
    margin: 0 0 10px 0;
    display: inline-block
}

.post .people .name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px
}

.post .people .about {
    color: #999999;
    font-size: 12px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

.post .people .about p.intro {
    word-wrap: break-word
}

.post .people .about a {
    color: #4094c7;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px
}

.post .people .about a:hover {
    color: #4bb2e0
}

.post .people .about a.active,.post .people .about a:active,.post .people .about a:focus {
    color: #075b8d
}

.post .people .about a.disabled,.post .people .about a.disabled:hover,.post .people .about a.disabled:focus,.post .people .about a.disabled:active,.post .people .about a.disabled.active,.post .people .about a[disabled],.post .people .about a[disabled]:hover,.post .people .about a[disabled]:focus,.post .people .about a[disabled]:active,.post .people .about a[disabled].active {
    cursor: not-allowed;
    color: #999999
}

.post .people .sns {
    margin-bottom: 10px
}

.post .people .sns a {
    width: 20px;
    margin-left: 7px;
    display: inline-block
}

.post .people .sns a img {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.post .people .sns a:hover img {
    opacity: 1;
    filter: alpha(opacity=100)
}

.post .people .microcode {
    width: 159px;
    height: 159px;
    padding: 1px;
    margin-bottom: 20px;
    background: #f1f1f1
}

.post .people .microcode img {
    height: 158px;
    width: 158px
}

.post .container .article {
    position: relative;
    padding: 70px 40px 30px
}

.post .container .article .meta-top a {
    font-size: 16px
}

.post .container .article .meta-top span {
    position: relative;
    top: 2px
}

.post .container .article .avatar {
    display: inline-block;
    margin-right: 5px;
    line-height: 1%;
    width: 40px;
    height: 40px
}

.post .container .article .meta-top {
    margin: 0 0 20px 0;
    display: none
}

.post .container .article .article-info {
    overflow: hidden
}

.post .container .article .article-info a {
    margin-right: 15px
}

.post .container .article .article-info a .icon-book {
    margin-right: 5px
}

.post .container .article .article-info p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #999999
}

.post .container .article .article-info p span {
    margin: 0 15px;
    font-size: 14px
}

.post .container .article .article-info p a {
    font-size: 14px
}

.post .container .article .show-content {
    min-height: 300px
}

.post .btn-reward {
    position: relative;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    display: inline-block;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: #F47425;
    line-height: 60px;
    font-size: 16px;
    color: white;
    text-align: center
}

.post .further-reading {
    padding: 0 40px 55px;
    font-size: 14px;
    color: #c2c2c2
}

.post .further-reading [contenteditable][placeholder]:empty:before {
    content: attr(placeholder)
}

.post .further-reading .further-reading-line {
    padding-top: 5px;
    border-top: 1px solid #d9d9d9;
    width: 40px;
    margin: 20px 0
}

.post .further-reading a {
    color: #c2c2c2
}

.post .further-reading .reading-list>li {
    margin-bottom: 15px
}

.post .further-reading .reading-list li .pull-right {
    position: relative
}

.post .further-reading .article-origin,.post .further-reading .btn-link {
    font-size: 12px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

.post .further-reading .reading-link-text:focus {
    border-bottom: 1px solid #d9d9d9
}

.post .further-reading .reading-info,.post .further-reading .reading-link-text {
    display: inline-block;
    outline: none
}

.post .further-reading .reading-info h6,.post .further-reading .reading-info span,.post .further-reading .reading-link-text h6,.post .further-reading .reading-link-text span {
    outline: none;
    display: inline-block
}

.post .further-reading .reading-info h6:focus,.post .further-reading .reading-info span:focus,.post .further-reading .reading-link-text h6:focus,.post .further-reading .reading-link-text span:focus {
    border-bottom: 1px solid #d9d9d9
}

.post .further-reading h6 {
    margin: 0;
    display: inline-block;
    font-size: 14px;
    color: #333333
}

.post .further-reading .reading-states {
    margin-left: 5px
}

.post .further-reading .edit {
    position: absolute;
    margin-left: 5px;
    display: inline-block;
    background-color: white;
    border: 1px solid transparent;
    text-align: center;
    z-index: 1
}

.post .further-reading .edit:hover {
    border: 1px solid #d9d9d9;
    z-index: 2
}

.post .further-reading .edit li {
    margin-bottom: 0;
    border-bottom: 1px solid #d9d9d9
}

.post .further-reading .edit li:last-child,.post .further-reading .edit li:first-child {
    border-bottom: none
}

.post .further-reading .edit li a {
    display: inline-block;
    width: 100%;
    padding: 0 4px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.post .further-reading .edit li:hover {
    background-color: #555555;
    color: white
}

.post .further-reading .edit i {
    position: relative;
    top: -1px
}

.post .meta-bottom {
    padding: 0 40px 30px
}

.post .meta-bottom .like {
    overflow: hidden;
    float: left
}

.post .meta-bottom .like .btn {
    position: relative;
    width: 60px;
    height: 20px;
    padding: 8px 24px;
    font-size: 16px;
    color: #e78170;
    background: transparent;
    border-color: #e78170;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

.post .meta-bottom .like .btn:hover {
    color: #e36a56;
    background: #f6cec7;
    border-color: #f6cec7
}

.post .meta-bottom .like .btn span {
    position: absolute;
    -webkit-transition: all 0.3s cubic-bezier(0.35, 0.32, 0, 0.99);
    -moz-transition: all 0.3s cubic-bezier(0.35, 0.32, 0, 0.99);
    -o-transition: all 0.3s cubic-bezier(0.35, 0.32, 0, 0.99);
    transition: all 0.3s cubic-bezier(0.35, 0.32, 0, 0.99)
}

.post .meta-bottom .like span.like-content {
    left: 29px
}

.post .meta-bottom .like span.load-img {
    right: -30px;
    line-height: 17px
}

.post .meta-bottom .like .note-liked,.post .meta-bottom .like .note-liked:hover {
    border-color: #de533c;
    background-color: #de533c;
    color: white
}

.post .meta-bottom .like.load .btn {
    background-color: #f9ddd9;
    border-color: #f9ddd9
}

.post .meta-bottom .like.load .like-content {
    left: -100px;
    opacity: 0.1;
    filter: alpha(opacity=10);
    -webkit-transition: all 0.2s cubic-bezier(0.35, 0.32, 0, 0.99);
    -moz-transition: all 0.2s cubic-bezier(0.35, 0.32, 0, 0.99);
    -o-transition: all 0.2s cubic-bezier(0.35, 0.32, 0, 0.99);
    transition: all 0.2s cubic-bezier(0.35, 0.32, 0, 0.99)
}

.post .meta-bottom .like.load span.load-img {
    right: 47px;
    -webkit-transition: all 0.1s cubic-bezier(0.35, 0.32, 0, 0.99);
    -moz-transition: all 0.1s cubic-bezier(0.35, 0.32, 0, 0.99);
    -o-transition: all 0.1s cubic-bezier(0.35, 0.32, 0, 0.99);
    transition: all 0.1s cubic-bezier(0.35, 0.32, 0, 0.99)
}

.post .meta-bottom .share-note-text {
    float: right;
    margin: 8px 0 0;
    list-style: none
}

.post .meta-bottom .share-note-text li {
    float: left;
    position: relative
}

.post .meta-bottom .share-note-text .share-weixin img {
    width: 20px;
    height: 20px
}

.post .meta-bottom .share-note-text a {
    margin: 0 5px
}

.post .meta-bottom .share-note-text a img {
    width: 16px;
    height: 16px;
    margin-top: -4px
}

.post .meta-bottom .share-note-text i {
    font-size: 18px;
    color: #999999;
    line-height: 23px
}

.post .meta-bottom .share-note-text i:hover {
    color: #333333
}

.post .meta-bottom .share-note-text .dropdown-menu i.icon-download {
    position: relative;
    top: 1px;
    margin: 0 5px 0 1px
}

.post .meta-bottom .share-note-text .dropdown-menu li {
    float: none
}

.post .meta-bottom .share-note-text .dropdown-menu li a {
    margin: 0
}

.post .comment {
    width: 620px;
    margin: 0 auto
}

.post .comment .nav-tabs {
    padding: 2px 0;
    margin: 0 auto 30px;
    border-bottom: none
}

.post .comment .nav-tabs>li.active {
    background-color: #343434;
    background-image: -moz-linear-gradient(top, #2e2e2e, #3f3f3f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2e2e2e), to(#3f3f3f));
    background-image: -webkit-linear-gradient(top, #2e2e2e, #3f3f3f);
    background-image: -o-linear-gradient(top, #2e2e2e, #3f3f3f);
    background-image: linear-gradient(to bottom, #2e2e2e, #3f3f3f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF2E2E2E', endColorstr='#FF3F3F3F', GradientType=0)
}

.post .comment .nav-tabs>li.active a {
    -webkit-box-shadow: 0 -17px 26px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 -17px 26px rgba(0,0,0,0.4);
    box-shadow: 0 -17px 26px rgba(0,0,0,0.4)
}

.post .comment .nav-tabs>li>a {
    position: relative;
    padding: 14px 20px;
    margin: 0;
    border: none;
    background: none;
    color: #999999
}

.post .comment .nav-tabs .toggle_comment a {
    padding-right: 0;
    font-size: 12px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

.post .comment .nav-tabs>.active>a,.post .comment .nav-tabs>.active>a:hover,.post .comment .nav-tabs>.active>a:focus {
    color: #bbbbbb;
    background: none
}

.post .comment .nav-tabs>li>a:hover {
    color: gainsboro
}

.post .comment .nav-tabs>.active>a:before,.post .comment .nav-tabs>.active>a:after {
    position: absolute;
    top: -1px;
    left: 0;
    content: "";
    display: block;
    right: 0;
    height: 6px;
    background: #e78170;
    -webkit-box-shadow: 9px -4px 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 9px -4px 20px rgba(0,0,0,0.8);
    box-shadow: 9px -4px 20px rgba(0,0,0,0.8)
}

.post .comment .nav-tabs>.active>a:after {
    -webkit-box-shadow: -9px -4px 20px rgba(0,0,0,0.8);
    -moz-box-shadow: -9px -4px 20px rgba(0,0,0,0.8);
    box-shadow: -9px -4px 20px rgba(0,0,0,0.8)
}

.post .comment .tab-content {
    overflow: inherit
}

.post .comment .tab-content .people {
    position: static;
    width: 98%;
    margin: 3px auto;
    padding: 0 0 20px 0;
    text-align: left
}

.post .comment .tab-content .people .name {
    color: #bbbbbb
}

.post .comment .tab-content .people .avatar {
    margin-right: 10px
}

.post .comment .tab-content .people .icon-home {
    color: #bbbbbb
}

.post .comment .tab-content .people br {
    display: none
}

.post .comment .tab-content .comment-list .comment-text {
    padding: 10px;
    margin: 10px auto 15px;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.post .comment .tab-content .comment-list .comment-text.letter textarea {
    height: 112px
}

.post .comment .tab-content .comment-list textarea {
    width: 100%;
    height: 78px;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    resize: none
}

.post .comment .tab-content .comment-list .hotkey,.post .comment .tab-content .comment-list .warning {
    position: relative;
    top: 2px;
    margin-left: 11px
}

.post .comment .tab-content .comment-list .hotkey i,.post .comment .tab-content .comment-list .warning i {
    margin-right: 5px
}

.post .comment .tab-content .emoji {
    position: relative;
    display: inline-block
}

.post .comment .tab-content .emoji .icon-smile {
    position: relative;
    top: 2px;
    margin-left: 20px;
    font-size: 16px;
    color: #eeeeee
}

.post .comment .comment-list,.post .comment .like {
    min-height: 150px
}

.post .comment .comment-list .tips {
    text-align: center
}

.post .comment .comment-list .signout-comment {
    text-align: center
}

.post .comment .comment-list .signout-comment a,.post .comment .comment-list .signout-comment a:hover {
    color: gainsboro
}

.post .comment .comment-list hr {
    margin-bottom: 0;
    border-top: none;
    border-color: #8a8a8a
}

.post .comment .comment-list .note-comment {
    padding: 14px 0 10px;
    border-bottom: 1px dashed #8a8a8a
}

.post .comment .comment-list .avatar {
    position: absolute;
    margin-top: 3px
}

.post .comment .comment-list .avatar a {
    display: inline-block;
    width: 30px;
    height: 30px;
    z-index: 1
}

.post .comment .comment-list .content {
    padding-left: 45px
}

.post .comment .comment-list .content .comment-header {
    margin-bottom: 5px
}

.post .comment .comment-list .content .author-name {
    font-size: 14px;
    color: #4bb2e0
}

.post .comment .comment-list .content .author-name:hover {
    color: #4094c7
}

.post .comment .comment-list .content .author-name.active,.post .comment .comment-list .content .author-name:active,.post .comment .comment-list .content .author-name:focus {
    color: #075b8d
}

.post .comment .comment-list .content .author-name.disabled,.post .comment .comment-list .content .author-name.disabled:hover,.post .comment .comment-list .content .author-name.disabled:focus,.post .comment .comment-list .content .author-name.disabled:active,.post .comment .comment-list .content .author-name.disabled.active,.post .comment .comment-list .content .author-name[disabled],.post .comment .comment-list .content .author-name[disabled]:hover,.post .comment .comment-list .content .author-name[disabled]:focus,.post .comment .comment-list .content .author-name[disabled]:active,.post .comment .comment-list .content .author-name[disabled].active {
    cursor: not-allowed;
    color: #999999
}

.post .comment .comment-list .content .reply-time {
    font-size: 12px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

.post .comment .comment-list .content .reply-time a {
    color: #b3b3b3
}

.post .comment .comment-list .content p {
    margin-bottom: 0;
    color: #ebebeb;
    word-break: break-word
}

.post .comment .comment-list .content p img {
    width: 20px
}

.post .comment .comment-list .content p a {
    color: #4bb2e0
}

.post .comment .comment-list .content p a:hover {
    color: #4094c7
}

.post .comment .comment-list .content p a.active,.post .comment .comment-list .content p a:active,.post .comment .comment-list .content p a:focus {
    color: #075b8d
}

.post .comment .comment-list .content p a.disabled,.post .comment .comment-list .content p a.disabled:hover,.post .comment .comment-list .content p a.disabled:focus,.post .comment .comment-list .content p a.disabled:active,.post .comment .comment-list .content p a.disabled.active,.post .comment .comment-list .content p a[disabled],.post .comment .comment-list .content p a[disabled]:hover,.post .comment .comment-list .content p a[disabled]:focus,.post .comment .comment-list .content p a[disabled]:active,.post .comment .comment-list .content p a[disabled].active {
    cursor: not-allowed;
    color: #999999
}

.post .comment .comment-list .content .comment-footer {
    margin-top: 10px
}

.post .comment .comment-list .content .comment-footer .delete,.post .comment .comment-list .content .comment-footer .dismiss {
    margin-left: 14px
}

.post .comment .comment-list .content .comment-footer a {
    color: #666666;
    font-size: 13px
}

.post .comment .comment-list .content .comment-footer a:hover {
    color: #bbbbbb
}

.post .comment .comment-list .content .comment-footer i {
    position: relative;
    bottom: 1px;
    margin-right: 5px
}

.post .comment .like ul {
    margin: 0 0 10px;
    list-style: none
}

.post .comment .like li {
    margin-bottom: 5px
}

.post .comment .like .author {
    margin: 0 9px 8px 0;
    display: inline-block;
    color: #4094c7
}

.post .comment .like .author:hover {
    color: #4bb2e0
}

.post .comment .like .author.active,.post .comment .like .author:active,.post .comment .like .author:focus {
    color: #075b8d
}

.post .comment .like .author.disabled,.post .comment .like .author.disabled:hover,.post .comment .like .author.disabled:focus,.post .comment .like .author.disabled:active,.post .comment .like .author.disabled.active,.post .comment .like .author[disabled],.post .comment .like .author[disabled]:hover,.post .comment .like .author[disabled]:focus,.post .comment .like .author[disabled]:active,.post .comment .like .author[disabled].active {
    cursor: not-allowed;
    color: #999999
}

.post .comment .like .avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 4px
}

.post .comment .like .more-like {
    margin-left: 39px;
    color: gainsboro
}

.post .comment .like .more-like .icon-double-angle-down {
    position: relative;
    top: 2px;
    margin-left: 5px;
    font-size: 18px
}

.post .comment .pagination ul {
    float: right
}

.function {
    padding: 0 0 170px;
    color: #999999;
    background-color: #3f3f3f;
    background-color: #3f3f3f;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#262626), color-stop(50px, #3f3f3f), to(#3f3f3f));
    background-image: -webkit-linear-gradient(#262626, #3f3f3f 50px, #3f3f3f);
    background-image: -moz-linear-gradient(top, #262626, #3f3f3f 50px, #3f3f3f);
    background-image: -o-linear-gradient(#262626, #3f3f3f 50px, #3f3f3f);
    background-image: linear-gradient(#262626, #3f3f3f 50px, #3f3f3f);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF262626', endColorstr='#FF3F3F3F', GradientType=0)
}

.function .before,.function .after {
    margin-top: 30px;
    font-size: 16px;
    color: #bbbbbb
}

.function .before {
    float: left
}

.function .before i {
    margin-right: 10px
}

.function .after {
    float: right
}

.function .after i {
    margin-left: 10px
}

.function .collections p {
    margin: 20px 0 30px;
    color: white;
    font-size: 12px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

.function .collections p span {
    margin: 0 20px
}

.function .collections ul {
    margin: 0
}

.function .collections li {
    margin: 0 40px 10px 0;
    display: inline-block;
    text-align: center
}

.function .collections a {
    color: #bbbbbb
}

.function .collections .img-broder {
    margin-bottom: 10px;
    border: 2px solid gainsboro;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.function .collections img {
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.function .collections .clear {
    clear: both
}

.function .collections .more {
    font-size: 12px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

.footer-logo {
    display: none !important
}

.post.output.longweibo {
    padding: 0 !important;
    background: none
}

.post.output.longweibo .post-bg {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.post.output.longweibo .container {
    width: 640px;
    overflow: hidden
}

.post.output.longweibo .meta-top {
    display: block
}

.post.output.longweibo .article {
    margin-top: 0
}

.post.output.longweibo .article {
    padding: 50px 35px 0 !important;
    font-size: 20px;
    word-break: break-all
}

.post.output.longweibo .article p {
    margin-bottom: 35px
}

.post.output.longweibo .article p,.post.output.longweibo .article ul,.post.output.longweibo .article ol {
    text-align: left
}

.post.output.longweibo .article .avatar {
    width: 40px;
    height: 40px;
    line-height: 25px
}

.post.output.longweibo .article .author {
    color: #28a1c5;
    font-size: 30px;
    font-weight: normal;
    line-height: 45px
}

.post.output.longweibo .article h1 {
    margin-bottom: 30px;
    font-size: 42px;
    font-weight: bold;
    line-height: 63px
}

.post.output.longweibo .article h2,.post.output.longweibo .article h3,.post.output.longweibo .article h4,.post.output.longweibo .article h5,.post.output.longweibo .article h6 {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    line-height: 54px
}

.post.output.longweibo .article .show-content {
    font-size: 30px;
    font-weight: normal;
    line-height: 50px
}

.post.output.longweibo .article * {
    font-size: 30px;
    line-height: 50px
}

.post.output.longweibo .footer {
    width: 640px;
    height: 145px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    background: url(http://static.jianshu.io/assets/long-footer-0df09ac4b7cdfa4436058fb5ab9b36b8.gif) no-repeat
}

.post .fix-ie8 .meta-top {
    display: block
}

.post .fix-ie8 .people {
    position: static;
    display: none;
    width: 600px;
    margin: 10px auto;
    border-left: 2px solid #e1e1e1;
    border-right: none;
    padding: 0 0 20px 20px;
    text-align: left
}

.post .fix-ie8 .people .avatar,.post .fix-ie8 .people .name {
    margin-left: 0
}

@media (max-width: 480px) {
    .post {
        padding:0 !important
    }

    .post .wrap-btn .editor-article {
        top: 11px
    }

    .post .wrap-btn .login {
        position: relative;
        top: 13px
    }

    .post .contents {
        width: 300px
    }

    .post .contents .close {
        padding-left: 273px !important
    }

    .post .article {
        padding-bottom: 0
    }

    .post .meta-bottom {
        padding: 8px
    }

    .post .function {
        min-height: 250px
    }

    .post .comment .nav-tabs li {
        float: none
    }

    .post .comment .nav-tabs>.active>a:before {
        display: none
    }

    .post .comment .nav-tabs>.active {
        background: #555555
    }

    .contribute-modal {
        width: 300px !important;
        right: 35px !important
    }

    .function .collections li {
        margin: 0;
        display: block;
        text-align: left
    }

    .function .collections li br {
        display: none
    }

    .function .collections .img-broder {
        margin-bottom: 15px;
        margin-right: 5px
    }

    .function .collections img {
        width: 40px;
        height: 40px
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .post .article .title {
        font-size:37px
    }

    .post .contents {
        width: 300px
    }

    .post .contents .close {
        padding-left: 273px !important
    }
}

@media (max-width: 767px) {
    .post .container {
        width:100%
    }

    .post .article {
        margin-top: 60px
    }

    .post .article,.post .further-reading,.post .meta-bottom {
        padding-left: 10px !important;
        padding-right: 10px !important
    }

    .post .container .article .title {
        margin-left: 0;
        font-size: 37px
    }

    .post .people {
        width: auto !important;
        margin: 0 auto
    }

    .post .comment {
        padding: 0;
        width: 100%
    }

    .post .comment-list footer {
        display: block
    }

    .post .function .comment>.tab-content {
        padding: 0 10px
    }

    .post .read-modal .change-font {
        display: none
    }
}

@media (max-width: 979px) {
    .output.post {
        background-image:none;
        background-color: white
    }

    .post .contents .close {
        padding-left: 202px
    }

    .post .meta {
        position: absolute;
        top: 30px;
        right: 0px;
        left: auto;
        margin-left: 0px;
        border-right: none
    }

    .post .meta img {
        display: none
    }

    .post .footer-logo {
        margin-top: 80px
    }

    .meta-bottom .share-note-text .dropdown-menu {
        right: 1px;
        left: auto
    }
}

.editor-oprater .select-field {
    min-width: 150px
}

@media (max-width: 1200px) {
    .post .people {
        display:none
    }

    .post .container .article .meta-top,.post .comment .tab-content .people {
        display: block
    }
}

.notebooks-menu-btn {
    position: fixed;
    left: 69px;
    top: 22px;
    z-index: 1060
}

.notebooks-menu-btn:focus {
    text-decoration: none
}

.notebooks-menu.modal.fade {
    top: 40px;
    left: 69px;
    width: 315px;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.panel .panel-heading {
    padding: 10px 20px;
    border-bottom: 1px solid #d9d9d9;
    text-align: center
}

.panel .panel-heading h4 {
    margin: 0;
    line-height: 150%
}

.panel .list-group {
    margin: 0;
    overflow-y: auto;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.panel .list-group-item {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
    font-size: 12px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

.panel .list-group-item:hover,.panel .list-group-item.active {
    background-color: #f6f6f6
}

.panel .list-group-item:last-child {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.panel i.icon-chevron-right {
    display: none
}

@media (max-width: 480px) {
    .notebooks-menu.modal.fade.in {
        width:240px;
        left: 65px;
        top: 50px
    }

    .panel .panel-heading h4 {
        font-size: 16px
    }

    .notebooks-menu-btn {
        top: 13px;
        left: 65px
    }
}

@media (min-width: 1588px) {
    .notebooks-menu-btn,.notebooks-menu.modal.fade.in {
        left:195px
    }
}

.editor-actions {
    max-width: 600px;
    padding: 0 30px;
    margin: 80px auto 0
}

.editor-actions .section {
    margin: 40px 0
}

.editor-actions .section label {
    position: relative;
    top: 2px;
    margin-bottom: 10px;
    font-size: 16px
}

.editor-actions .section .btn {
    margin-right: 10px
}

.editor-actions .select2-container {
    width: 100%
}

.editor-actions .select2-choices {
    min-height: 60px
}

.editor-actions .editor-footer {
    margin-top: 60px
}

.editor-actions .editor-footer .btn-success {
    margin-right: 10px
}
