<li class="one-note" ng-class="active? 'active':''" ng-click="activeMe();">
  <i class="icon icon-note note-icon stop-share"></i>
  <p class="abbreviate" ng-bind-html="text"></p>
  <p class="wordage win-text">字数: {{word_count}}</p> <a href class="note-link title">{{title}}</a>
  <div dropdown ng-show="active">
    <a href class="share-note dropdown-toggle" dropdown-toggle><i class="fa fa-cog"></i></a>
    <ul class="dropdown-menu arrow-top" role="menu">
      <li>
        <a href class="share-link" ng-click="publishArticle();"> <i class="icon-share-alt"></i> 直接发布 </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href ng-click="moveArticle();"> <i class="icon-folder-open"></i> 移动文章 </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href ng-click="deleteArticle();"> <i class="icon-trash"></i> 删除文章 </a>
      </li>
    </ul>
  </div>
</li>
