<div class="col-md-2 col-sm-2 aside">
    <div class="new-notebook">
        <a href ng-click="isCollapsed=!isCollapsed" class="create-notebook win-text"> +新建文集 <img src="http://baijii-common.b0.upaiyun.com/loaders/tiny.gif" class="hide loader-tiny create-notebook-loader"> </a>
        <div class="new-notebook-form" collapse="isCollapsed">
            <form class="create-notebook-form" ng-submit="newNotebookForm()">
                <input placeholder="请输入文集名..." type="text" name="name" class="input-medium notebook-input" ng-model="newNotebook.name"> 
                <a href class="btn cancel" ng-click="isCollapsed=!isCollapsed"> 取消 </a>
                <input class="btn btn-mainRed submit" name="commit" type="submit" value="提交">
            </form>
        </div>
    </div>
    <ul class="nav nav-pills nav-stacked notebooks ui-sortable" ng-transclude></ul>
</div>
