/* Component LESS */
/* Add Component LESS Above */

.book .col-md-3 {
    padding: 50px 30px
}

.book .col-md-9 {
    padding: 30px 100px 100px 50px
}

.book .aside {
    position: fixed;
    bottom: 0;
    top: 0;
    border-right: 1px solid #d9d9d9;
    text-align: center;
    word-wrap: break-word;
    -webkit-box-shadow: -1px 1px 6px rgba(0,0,0,0.35);
    -moz-box-shadow: -1px 1px 6px rgba(0,0,0,0.35);
    box-shadow: -1px 1px 6px rgba(0,0,0,0.35)
}

.book .aside .avatar {
    width: 80px;
    height: 80px;
    margin: 0 auto
}

.book .aside .meta {
    margin-left: 0;
    font-style: italic;
    font-size: 12px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

.book .aside .meta li {
    display: inline-block
}

.book .aside .meta a:focus {
    text-decoration: none
}

.book .aside .btn-group .follow {
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear
}

.book .aside .btn-group .follow i {
    width: 10px;
    display: inline-block
}

.book .aside .btn-group .following:hover .icon-plus:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear
}

.book .aside .btn-group .notebook-share,.book .aside .btn-group .collection-share {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0
}

.book .aside .dropdown-menu {
    overflow: inherit;
    top: 33px;
    right: 0;
    left: auto;
    text-align: left;
    font-size: 12px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

.book .aside .dropdown-menu img {
    width: 16px;
    height: 16px;
    margin-top: -4px
}

.book .aside .btn-group>.dropdown-menu:before,.book .aside .btn-group>.dropdown-menu:after {
    left: auto;
    right: 8px
}

.book .aside .btn-group>.dropdown-menu:before {
    top: -9px;
    border-bottom-color: #999999
}

.book .aside .btn-group>.dropdown-menu:after {
    top: -8px
}

.book .aside .dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0
}

.book .aside .author {
    position: absolute;
    bottom: 50px;
    left: 30px;
    right: 30px
}

.book .aside .author .avatar {
    width: 45px;
    height: 45px;
    margin-bottom: 10px
}

/*
.collection-list .btn-group>.dropdown-menu {
    min-width: inherit
}

.collection-list .btn-group>.dropdown-menu .dropdown-menu {
    min-width: 56px
}
*/

.notebook-list .btn-group>.dropdown-menu {
    min-width: 56px
}

.book .toolbar {
    height: 36px;
    border-bottom: 2px solid #d9d9d9
}

.book .nav-tabs {
    float: left;
    margin-bottom: 0;
    border-bottom: none
}

.book .nav-tabs li {
    margin-right: 20px
}

.book .nav-tabs li a,.book .nav-tabs li a:hover {
    padding-left: 0;
    padding-right: 0;
    border: none;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.book .nav-tabs li a:hover {
    border-bottom: 2px solid #999999
}

.book .nav-tabs li.active a {
    border-bottom: 2px solid #555555
}

.book .view-btn {
    float: right;
    margin: 0;
    list-style: none
}

.book .view-btn li {
    float: left
}

.book .view-btn a {
    padding: 5px 14px;
    display: inline-block;
    color: #bbbbbb
}

.book .view-btn a:hover {
    background: none;
    color: #999999
}

.book .view-btn .active,.book .view-btn .active:hover {
    color: #414141;
    background: none
}

.book .thumbnails {
    margin: 20px 0 50px
}

.book .thumbnails li {
    height: 350px;
    padding: 20px;
    margin: 0 -1px -1px 0;
    border: 1px solid #d9d9d9
}

.book .thumbnails h4 {
    margin: 0 0 15px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.book .thumbnails .avatar {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 0 10px 0
}

.book .thumbnails .article-content {
    font-size: 12px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #999999
}

.book .new-view .thumbnails li {
    width: 100%;
    height: auto;
    padding: 20px 0 15px;
    border: none;
    border-bottom: 1px dashed #d9d9d9
}

.book .new-view .thumbnails li h4 {
    margin-bottom: 0
}

.book .new-view .thumbnails li .avatar {
    width: 45px;
    height: 45px;
    margin: 10px 0 0 15px;
    float: right
}

.book .new-view .thumbnails li .article-content {
    margin: 12px 0 5px
}

.book .new-view .thumbnails li date {
    margin-right: 10px
}

.book .new-view .thumbnails li .btn {
    background-color: transparent;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

.book .new-view .thumbnails li .btn.accept {
    border: 1px solid #46a546;
    color: #46a546
}

.book .new-view .thumbnails li .btn.reject {
    color: #e78170;
    border: 1px solid #e78170
}

.book .ranking ul {
    margin-top: 30px
}

.book .ranking li {
    padding-left: 55px
}

.book .ranking li b {
    left: 1px
}

@media (max-width: 480px) {
    .output .toolbar .wordage {
        display:none
    }
    
    /*
    .book .collection-list .thumbnails .avatar,.book .notebook-list .thumbnails .avatar {
        width: 30px !important;
        height: 30px !important
    }*/

    .book .ranking .weeks li {
        padding-left: 40px
    }
}
/*
@media (max-width: 767px) {
    .book .collection-list .aside.span3,.book .notebook-list .aside.span3 {
        margin:0
    }

    .book .collection-list .thumbnails li.span4,.book .notebook-list .thumbnails li.span4 {
        width: 100%
    }
}

@media (max-width: 768px) {
    .book .collection-list .aside.span3,.book .notebook-list .aside.span3 {
        position:static;
        width: 100%;
        padding-top: 70px;
        border: none;
        overflow: inherit;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }

    .book .collection-list .aside.span3 .btn-group .follow i,.book .notebook-list .aside.span3 .btn-group .follow i {
        margin: 0;
        padding: 0;
        border: none
    }

    .book .collection-list .aside.span3 .author,.book .notebook-list .aside.span3 .author {
        position: static;
        margin: 20px 0
    }

    .book .collection-list .aside.span3 .author .avatar,.book .notebook-list .aside.span3 .author .avatar {
        display: none
    }

    .book .collection-list .aside.span3 .btn-group span,.book .notebook-list .aside.span3 .btn-group span {
        display: inline
    }

    .book .collection-list .span9,.book .notebook-list .span9 {
        width: 100%;
        padding: 10px;
        margin-left: 0
    }

    .book .collection-list .span9 .view-btn,.book .notebook-list .span9 .view-btn {
        display: none
    }

    .book .collection-list .span9 .thumbnails,.book .notebook-list .span9 .thumbnails {
        padding: 0
    }

    .book .collection-list .span9 .thumbnails li,.book .notebook-list .span9 .thumbnails li {
        width: 33.399%;
        padding: 10px
    }
}
*/
@media (max-width: 979px) {
/*
    .collection-list .thumbnails li.span4,.notebook-list .thumbnails li.span4 {
        width:50%
    }

    .book .collection-list.new-view .thumbnails li.span4,.book .notebook-list.new-view .thumbnails li.span4 {
        width: 100%
    }
*/
    .book .aside .btn-group span {
        display: none
    }
}

@media (min-width: 1588px) {
    .book .col-md-9 {
        max-width:1200px;
        padding-left: 80px
    }
}
